<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="databaseConnected" value="false"/>
		<add key="host" value="mysql-clementvabre.alwaysdata.net"/>
		<add key="port" value="3306"/>
		<add key="user" value="352900"/>
		<add key="password" value="Clementvabre74"/>
		<add key="database" value="clementvabre_contact"/>
		<add key="mysqlVer" value="10.6.17-mariadb"/>
		<add key="loginUser" value="352900"/>
		<add key="loginMdp" value="Clement74"/>
	</appSettings>
</configuration>

